<html>

<head>
    <title>Error</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <form action="/" method="GET">
        <button type="submit" class="btn btn-success">Home</button>
    </form>
    <h3>User ID exists. Enter new User ID.</h3>
</body>

</html>